h1 {
  font-family: sans-serif ,Arial, Helvetica, sans-serif ;
  font-weight: 100;
  position: relative;
  bottom: -150px;
  left: 100px;
  cursor: pointer;
}
#m {
  position: relative;
  left: 300px;
  bottom: -200px;

}
#w {
  position: relative;
  left: 252px;
  bottom: -250px;

}
#k {
  position: relative;
  left: 187px;
  bottom: -300px;

}
#o {
  position: relative;
  left: 140px;
  bottom: -350px;

}
  
  