
    h1 {
        position: relative;
        bottom: -100px;
        left: 90px;
        font-family:initial;
        font-weight:190
    }
    
    
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 10px;
      margin-top: 20px;
      border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    width: 90%;
    position: relative;
    left: 60px;
    }

    .image-container {
      text-align: center;
    }

    .image-container img {
      max-width: 300%;
      max-height: 450px;
      object-fit: contain;
      position: relative;
      bottom: 10px;
    left : 300px ;
    border: 2px solid #ccc;
    padding: 30px;
    text-align: center;
    
      
    }

    .details-container {
      display: flex;
      flex-direction: column;
    }

    .details-container h2 {
      margin-bottom: 60px;
    }

    .button-container {
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }

    
    .delete-button {
      padding: 10px 20px;
      background-color: #090a0a;
      color: #fff;
      border: none;
      cursor: pointer;
      position: relative;
      left: 400px;
    }
    .update-button  {
        padding: 10px 20px;
        background-color: #0a0a0b;
        color: #fff;
        border: none;
        cursor: pointer;
        position: relative;
        left: 300px;
      }
      .add-button  {
        padding: 10px 20px;
        background-color: #0a0a0b;
        color: #fff;
        border: none;
        cursor: pointer;
        position: relative;
        left: 500px;
      }
    